<form [formGroup]="addOrder" (ngSubmit)="Submit()">


  <div formArrayName="order">
    <div *ngFor="let extra of orderArr ; let i = index" [formGroupName]="i" >
      {{extra}}
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput   formControlName="name"
          placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder"   formControlName="phone">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" formControlName="email">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>

    </div>
  </div>
  <button type="submit">helllo</button>
  <button type="button" type="button" (click)="oderSubmit()">add</button>

</form>
<button type="button" (click)="oderPush()">push</button>

